* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

html, body {
    margin: 0px;
}

#logo {
    background-color: #adb6e9;
    border-left: 10px solid #7987da;
    padding: 10px;
    color: #000000;
    display: flex;
    vertical-align: middle;
}

#logo-text {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    transform: rotate(-35deg);
    font-weight: bold;
    font-size: 14pt;
}

#header {
    background-color: #312a3f;
    border-left: 10px solid #1e1a27;
    padding: 10px;
    color: #ffffff;
}

#input-file {
    margin: 5px;
}

#filters {
    margin: 5px;
}

div.work-item {
    border: 1px solid #ccc;
    border-left: 5px solid #ccc;
    border-radius: 3px;
    margin: 2px;
    padding: 5px;
}

div.work-item-story {
    border: 1px solid #63ba3c;
    border-left: 5px solid #63ba3c;
    border-radius: 3px;
    margin: 2px;
    padding: 5px;
}

div.work-item-support-task {
    border: 1px solid #4bade8;
    border-left: 5px solid #4bade8;
    border-radius: 3px;
    margin: 2px;
    padding: 5px;
}

div.work-item-bug {
    border: 1px solid #e5493a;
    border-left: 5px solid #e5493a;
    border-radius: 3px;
    margin: 2px;
    padding: 5px;
}

div.work-item-issue {
    font-weight: bold;
    font-size: 8pt;
}

div.work-item-title {
    font-weight: bold;
}

div.work-item-user {
    font-size: 8pt;
}

.work-item-duration {
    display: flex;
}

.work-item-duration-days {
    padding-left: 10px;
}